# Core Libraries
streamlit==1.27.2
pandas==1.5.3
numpy==1.24.4

# Forecasting
scikit-learn==1.2.2
statsmodels==0.13.5
matplotlib==3.7.1
seaborn==0.12.2

# Web Scraping & Parsing
beautifulsoup4==4.12.2
requests==2.31.0

# Authentication & Security
bcrypt==4.0.1
streamlit-authenticator==0.2.2

# Miscellaneous
python-dotenv==1.0.0
altair==4.2.2
Pillow==9.5.0
